<div class="content-header sty-one">
  <h1>各種設定 / 初期設定一覧</h1>
</div>

<div class="content">
  <div class="white">

    <h2 class="title">初期設定</h2>

    <div class="row">
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title text-center"><a routerLink="/staff/employee">スタッフ登録</a></h5>
            <p class="card-text">
              サービスを利用するスタッフを登録できます。各スタッフの入社日や時給・交通費、基本的なシフトなどの確認・設定も可能です。
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="title mt-4">基本情報設定</h2>

    <div class="row">
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title text-center"><a routerLink="/config/over-work">所定時間･残業･深夜設定</a></h5>
            <p class="card-text">
              就業規則に基づいた所定時間/時間外の集計/深夜時間を設定できます。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title text-center"><a routerLink="/config/rounding-setting">打刻まるめ設定</a></h5>
            <p class="card-text">
              出勤/退勤/合計勤務時間を切り捨てる設定を登録できます。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title text-center"><a routerLink="/config/holiday-setting">休日設定</a></h5>
            <p class="card-text">
              会社の公休日/法定休日をカレンダーへ登録することができます。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title text-center"><a routerLink="/config/auto-rest">自動休憩設定</a></h5>
            <p class="card-text">
              労働時間に対して、自動的に休憩を引く設定が登録できます。
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="title mt-4">休暇・申請管理</h2>

    <div class="row">
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title text-center"><a routerLink="/hokiday/edit-holiday-alias">特別休暇名の登録</a></h5>
            <p class="card-text">
              有休/代休/振休以外に30個まで特別休暇を設定できます。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title text-center"><a routerLink="/hokiday/edit-holiday">休暇タイプ設定</a></h5>
            <p class="card-text">
              スタッフが取得可能な休暇の詳細を設定します。休暇申請時の選択肢として追加されます。
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="title bg-secondary mt-4">その他</h2>

    <div class="row">
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title text-center"><a routerLink="/work/down-attendance">出勤簿一括ダウンロード</a></h5>
            <p class="card-text">
              出勤簿形式で、勤怠実績の出力フォーマットを作成できます。
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title text-center"><a routerLink="/work/down-work">勤務データダウンロード</a></h5>
            <p class="card-text">
              表形式で、給与計算などに用いる出力フォーマットを作成できます。
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>