<div class="content-header sty-one">
  <h1>Dashboard</h1>
</div>

<div class="content">
  <div class="white">

    <div class="row">
      <div class="col">
        <h2 class="title">▼アラート一覧</h2>
        <table class="table table-sm">
          <tr>
            <th>打刻漏れ・打刻間違い</th>
            <td class="text-right">
              <a routerLink="/employee/attendance">0</a> 件
            </td>
          </tr>
          <tr>
            <th>打刻エラー</th>
            <td class="text-right">
              <a routerLink="/employee/attendance">0</a> 件
            </td>
          </tr>
        </table>
        <h2 class="title mt-4">▼未承認一覧</h2>
        <table class="table table-sm">
          <tr>
            <th>未承認打刻</th>
            <td class="text-right">
              <a routerLink="/employee/attendance">0</a> 件
            </td>
          </tr>
          <tr>
            <th>未承認の休暇申請</th>
            <td class="text-right">
              <a routerLink="/employee/attendance">0</a> 件
            </td>
          </tr>
          <tr>
            <th>未承認の休日出勤申請</th>
            <td class="text-right">
              <a routerLink="/employee/attendance">0</a> 件
            </td>
          </tr>
          <tr>
            <th>未承認の残業申請</th>
            <td class="text-right">
              <a routerLink="/employee/attendance">0</a> 件
            </td>
          </tr>
        </table>
      </div>
      <div class="col">
        <h2 class="title">▼事務局からのお知らせ</h2>
        <table class="table table-sm">
          <tr>
            <td class="text-danger">未確認</td>
            <td class="text-danger">2018/10/01</td>
            <td>test</td>
            <td>テストメール</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>