<div class="content-header sty-one">
  <h1>Dashboard</h1>
</div>

<div class="content">
  <div class="white">

    <div class="row mb-4">
      <div class="col-auto">
        <div class="card">
          <div class="card-body">
            <h2 class="h6">無料登録ユーザー数</h2>
            <p class="h1 text-right">{{userNum['無料'] | number }} <span class="h6">人</span></p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card">
          <div class="card-body">
            <h2 class="h6">有料登録ユーザー数</h2>
            <p class="h1 text-right">{{userNum['有料'] | number }} <span class="h6">人</span></p>
          </div>
        </div>
      </div>
    </div>

    <datatable [rows]="rows" [columns]="columns"></datatable>

  </div>
</div>

<ng-template #linkTemplate let-row="row" let-value="value" let-i="index">
  <a routerLink="/account/{{row.systemId}}">{{value}}</a>
</ng-template>