<div class="content-header sty-one">
  <h1>スタッフ管理 / スタッフ一覧</h1>
</div>

<div class="content">
  <div class="white">

    <div class="text-left">
      <a routerLink="../new-employee/_" color="accent" mat-raised-button>スタッフ登録</a>
    </div>

    <h2 class="title"><i class="fa fa-search"></i>検索条件設定</h2><form class="filter" (submit)="submit()">
      <fg class="form-inline" [model]="filter.model" [fields]="filter.fields" [form]="filter.form"></fg>
      <div class="text-center">
        <button type="submit" mat-raised-button>表示</button>
      </div>
    </form>

  </div>

  <div class="white mt-4">
    <datatable [rows]="rows" [columns]="columns"></datatable>
  </div>
</div>

<ng-template #nameTemplate let-row="row" let-value="value" let-i="index">
  <a routerLink="../new-employee/{{row.id}}">{{row.lname}} {{row.fname}}</a>
</ng-template>

<ng-template #linkTemplate let-row="row" let-value="value" let-i="index">

</ng-template>

<ng-template #mypageTemplate let-row="row" let-value="value" let-i="index">

</ng-template>